.git
.gitignore
.DS_Store

target
ui/node_modules
ui/dist

logs
oxide-plugins
oxidedb-sqlite
*.db
*.sqlite
*.sqlite3

.env
.env.*
!.env.production.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
